.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5%;
  list-style: none;
}

li {
  display: flex;
  background-color: gray;
  padding: 10px;
  text-align: left;
  color: aliceblue;
  border-radius: 5px;
  justify-content: space-between;
}

h1 {
  font-size: 20px;
  text-align: left;
  padding: 5%;
}

.button-delete-activity {
  background-color: aqua;
  border: none;
  color: black;
  border-radius: 6px;
  font-weight: bold;
}
